@import 'mixin/mixin';
@import 'common/var';

@include b(badge) {
    box-sizing: border-box;
    display: inline-block;
    min-width: $c-badge-rect;
    height: $c-badge-rect;
    line-height: $c-badge-rect;
    border-radius: $c-badge-rect / 2;
    padding: 0 $c-badge-padding-horizontal;
    background-color: $c-badge-color;
    font-size: $c-badge-font-size;
    color: $c-badge-text-color;
    white-space: nowrap;
    text-align: center;

    @include e(wrapper) {
        box-sizing: border-box;
        position: relative;
        display: inline-block;
    }

    @include when(fixed) {
        position: absolute;
        transform: translate(50%, -50%);
        top: 0;
        right: 0;
    }

    @include m(dot) {
        min-width: $c-badge-dot-rect;
        height: $c-badge-dot-rect;
        line-height: $c-badge-dot-rect;
        border-radius: 50%;
        padding: 0;
    }
}